/**
 * CSS para estilizar o campo de CPF dentro da página do produto
 * 
 * @package 
 */
.calccep label {
	font-size: 1.5em;
	font-weight: bold;	
}

.calccep input {
	font-size: 1.8em;
	border: 0;
	border-radius: 10px;
	width: 100%;
	padding: 15px 5px;
	background-color: #008000;
	color: #FFFFFF;
}

.calccep #cep-valor {
	margin-top: 5px;
}
