/**
 * DevXIII Css
 * @package CpfPlus
 * @author Erick Bruno <erickfabiani123@gmail.com>
 */
/* TESTE ALTERAÇÂO*/
#blocks_cpfplus {
	background:#CCC;
	width:90%;
	margin:0 auto !important;
	clear:both !important;
}


#blocks_cpfplus form #block_data h1 {
	font-size: 1.5em;
	text-align: center;
}



#blocks_cpfplus #block_data:first-child {
	width:100%;
	background:#ccc;
	margin-bottom: 10px;
	float: left;
}

#blocks_cpfplus #block_data {
	width:200px;
	background: #90C898;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}
#blocks_cpfplus #block_data input {
	width: 100%;
	margin-bottom: 10px;
}
#blocks_cpfplus form button {
	width:100%;
	padding: 5px;
}